<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3.2.3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="../node_modules/@helpvue/pvue/dist/es/style.css" />
    <script src="../node_modules/@helpvue/pvue/dist/index.iife.js" async></script>
    <script src="../node_modules/@helpvue/utils/dist/index.iife.js" async></script>
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      <pvue-button type="success" size="small" @click="handleAdd">{{count}}</pvue-button>
    </div>
    <script defer>
      window.onload = function () {
        console.log('HelpPvue库', HelpPvue)
        console.log('HelpUtils库', HelpUtils, HelpUtils.exam.myName, HelpUtils.getNumber(1))
        const vm = Vue.createApp({
          setup() {
            const count = Vue.ref(0)
            return { count, handleAdd: () => count.value++ }
          }
        })
          .use(HelpPvue, { prefix: 'pvue' })
          // .use(HelpPvue.Button, { prefix: 'pvue' })
          .mount('#app')
      }
    </script>
  </body>
</html>
