<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3.2.3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="../node_modules/@helpvue/pvue/dist/style/index.css" />
    <script src="../node_modules/@helpvue/pvue/dist/index.iife.js" async></script>
    <script src="../node_modules/@helpvue/utils/dist/index.iife.js" async></script>
    <style>
      button {
        border: none;
      }
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      <pvue-button type="success">{{dog.name}}今年{{dog.age+count}}岁了</pvue-button>
      <pvue-button size="small" @click="handleMinus">-</pvue-button>
      <pvue-button size="small" @click="handleAdd">+</pvue-button>
    </div>
    <script defer>
      window.onload = function () {
        console.log('HelpPvue库', HelpPvue)
        console.log('HelpUtils库', HelpUtils)
        const vm = Vue.createApp({
          setup() {
            const count = Vue.ref(0)
            const dog = new HelpUtils.exam.Person('小黄', 12)
            const handleAdd = () => count.value++
            const handleMinus = () => count.value--
            return { count, dog, handleAdd, handleMinus }
          }
        })
          .use(HelpPvue, { prefix: 'pvue' })
          // .use(HelpPvue.Button, { prefix: 'pvue' })
          .mount('#app')
      }
    </script>
  </body>
</html>
