# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/**/node_modules
/**/dist
/packages/pvue/types
/packages/doc/public
/packages/utils/typedoc/utils
/packages/utils/typedoc/utilsSidebar.js
